header, h1, button, footer, .form, form{
	display:none;
}

#pageExport{
	width:15cm;

}
#pageExport .formation h2{
	display:block !important;
}

#pageExport table{
	margin-top:0;
	page-break-inside:avoid;
	page-break-after:always;
}
#pageExport td{
	height:1cm;
}
#pageExport td:first-child{
	width:2cm;
}
#pageExport td:last-child{
	width:2cm;
}
