header{
	display:none;
}
h1{
	display:none;
}
#pageExport{
	width:15cm;

}
.page{
	height:27.5cm;
}
table{
	border-collapse:collapse;
	width:100%;

}
td{
	height:1.2cm;
}
td:first-child{
	width:2cm;
}
td:last-child{
	width:2cm;
}
