*{outline:none; padding:0; margin:0;}
	a{
		text-decoration:none;
		color:#474747;
	}
html{
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
	color:#474747;
}
li{ list-style-type:none;}
.global{
	margin:0 10%;
}
.hidden{display:none !important;}
#container{
	border-collapse:collapse;
}
th, td{
	border:1px solid #000;
}

h1 {
	text-transform:uppercase;
	margin-top:30px;
}
h2{
	text-transform:uppercase;
	color:#006699;
	font-size:18px;
	margin:20px 0 10px 0;
}
h1:after{
	content:"";
	display:inline-block;
    margin-left: 10px;
    bottom: 6px;
    width: 37px;
    border-bottom: 3px solid #474747;
}
/*-------------------------- HEADER */

header nav{
	height:63px;
	background-color:#3b3b3b;
	margin-top:155px;
}
header nav>ul{
	margin : 0 10%;
	display:flex;
	justify-content:flex-end;
}
header nav>ul>li:not(.submenu):first-child{flex:1; width:13%;}
#logo_cfa{width:100%;max-height:218px; max-width:218px; margin-top:-155px; flex:1;}
header nav>ul li, header nav>ul li a {
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:16px;
	line-height:63px;
	cursor:pointer;
	height:63px;
}
header nav>ul>li:not(:first-child):after{
	content:"";
	margin-left:30px;
    height: 36px;
    right: 0;
}
header nav>ul>li:not(:first-child):before{
	content:"";
	margin-right:30px;
	border-left:1px solid #2D2D2D;
    height: 36px;
    right: 0;
}
header nav>ul>li:not(.submenu):hover, header nav>ul>li:not(.submenu):hover a{
	background-color:#6f6f6f;
	color:#bbb;
}


div.submenu{
	position:absolute;
	overflow:hidden;
	display:none;
	background-color:#e7e7e7;
}
header nav>ul>li:hover div.submenu{
	display:block;
	animation-name: submenu;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	padding:20px 0;
	overflow:normal;
}

header nav>ul>li div.submenu li.submenu , header nav>ul>li div.submenu li.submenu a{
	font-size:14px;
	text-transform:normal;
	color:#2d2d2d;
	line-height:16px;
	height:inherit;
	padding:5px 10px;
	background-color:#e7e7e7;
}

header nav>ul>li div.submenu li.submenu:hover a{
	color:#0063A1;
}


@keyframes submenu{
	0%{	height:0%;}
	100%{ height:inherit;}
}
/* ------------------------  Accueil ADMIN  */
.infographie{
	display:flex;
	justify-content:space-between;
}
.infographie .nb{
	max-width:200px;
	text-align:center;
}

.nb p:first-child{
	font-weight:bold;
	font-size:3em;
	color:#0063A1;

}
.nb p.green{
	color:#d1dd7e;
		background-color: #fff;
}
.nb p.orange{
	color:#eabc48;
		background-color: #fff;
}
.nb p.red{
	color:#ce7862;
		background-color: #fff;
}
.nb p.gray{
	color:#878189;
		background-color: #fff;
}

/*---------------------------------- FOOTER ----*/
footer{
	padding:30px 0;
	text-align:right;
}
footer a{
	padding-right:30px;
	font-weight:bold;
}

/*---------------------------------- FORMULAIRES */

.form{
	border:1px solid #474747;
	padding:10px;
	vertical-align:bottom;
	transition: height 2s;
}
.form label:not(.inline){
	display:block;
	padding-bottom:5px;
}
.form label[for="file"]{
	cursor:pointer;
}

.form select, .form input[type="file"]{
	padding:5px;
	min-width:100px;
	background-color:#e5e5e5;
	color:#555555;
	border:1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form select:focus{
	border-color:#66afe9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.form:not(.naturalDisplay) form{
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
}
textarea{
	width:98%;
	margin-top:20px;
	resize:none;
	overflow:auto;
	height:200px;
	font-family:'Montserrat', sans-serif;
	padding:1%;
	outline:none;
}
input.long{
	min-width:300px;

}
input[type="submit"], button, .btn{
	background: #0063A1;
    color: #fff;
    border:1px solid #0063A1;
    padding: 10px 20px;
	margin-top:10px;
    font: inherit;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	border:1px solid #0063A1;
    cursor: pointer;
    outline: inherit;
	transition:color 0.3s, background-color 0.3s;
}
.btn{
	line-height:50px;
}
input.realDelete{
	border-color:#cc0000;
	background-color: #cc0000;
}
input[type="submit"]:hover, button:hover:not(.notActif), .btn:hover{
	color:#0063A1;
	background-color:white;

}
input.realDelete:hover{
	background-color:#fff;
	color:#cc0000;
}
.form p{
	text-align:right;
}
.form .left p{
	text-align:left;
}
.form input[type="number"][name="step"]{
	width:3em;
}
.error{
	font-weight:bold;
	color:#c33;
}

.menuBtn button{
	background:none;
	color:#afcadb;
	border:none;
	text-align:left;
	padding-left:0;
}

.menuBtn button::after{
	content:"→";
	font-weight:bold;
	font-size:1.5em;
}
.menuBtn button:hover::after, .menuBtn button.open::after{
	content:"↓";
}
.menuBtn button.open:hover::after{
	content:"↑";
}

/*----------------------------- Tabs and containers */
#tabs{
	border-bottom:3px solid #0063A1;
}
#tabs h2{
	display:inline-block;
	width:150px;
	padding:10px;
	color:#afcadb;
	cursor:pointer;
	margin-bottom:0;
	text-align:center;
}
#tabs h2 a{
	color:#afcadb;
}
#tabs h2:hover{
	background-color:#afcadb;
	color:#0063A1;
}
#tabs h2:hover a{
	color:#0063A1;
}
#tabs h2.selected{
		background-color:#0063A1;
		color:#fff;
}
#tabs h2.selected a{
	color:#fff;
}

#tabs h2.selected:hover{
	cursor:default;
}




/*----------------------------- POP UP */
#bgpopup{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#e1eff7;
	opacity:0.5;
	top:0;
	left:0;
	z-index:2;
}
.popup{
	position:fixed;
	top:20%;
	z-index: 5;
	background-color:#fff;
	width:40%;
	border:3px solid #0063A1;
	box-shadow:0 5px 5px rgba(0,0,0,0.5);
	min-width:500px;
	min-height:300px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
}



/*-------------------------------- ANNONCES */

#formAddAnnonce form{
	align-items: stretch;
}
#formAddAnnonce select{
	width:80%;
}
#formAddAnnonce .info{
	font-size:0.8em;
}
#formAddAnnonce .labelBlackList, .annonce .labelBlackList{
	text-transform: none;
	font-size: 0.8em;
	padding: 2px 5px;
	margin:5px;
}
.menuBtn .annonceTitle{
	text-transform:none;
	color:#3b3b3b;
	padding:10px ;

	border-bottom:1px #afcadb solid;
	width:100%;
	display:flex;
	justify-content: space-between;
	background-color: #ffffff;
	margin-top:0;
}
.blocAnnonce{
		border-bottom:1px #afcadb solid;
}

.menuBtn .annonceTitle:hover{
	background-color: #f4fbff;
	transition:1s;
}
.menuBtn .annonceTitle.open{
	border-bottom:none;
}
.menuBtn .annonceTitle::after, .menuBtn .annonceTitle.open::after, .menuBtn .annonceTitle:hover::after, .menuBtn .annonceTitle.open:hover::after{
	content:none;
}

.annonceTitle span:last-child{
	font-size:0.8em;
}
.notActif:hover{
	cursor: auto;
}
.linkBtn{
	background:none;
	text-transform:none;
	color:#3b3b3b;
	border:none;

}
.deleteannonce{
		color:#c97862;
}
.deleteannonce:hover{
	color:#ea4920 !important;
}
.annonce{
	padding:10px;
}
.annonce button{
	margin-top:0;
	margin-bottom:20px;
}
.annonceTxt{
	font-size:0.9em;
	min-width:400px;
	width:60%;
	padding:2%;
}
.annonceAside{
	min-width:350px;
	padding:2%;
}
.annonceAside table{
	border-collapse: collapse;
	font-size:0.8em;
}
.annonceAside table td:first-child{
	min-width:150px;
}

.blocAnnonce{
	display:flex;
}
.studentInterest{
	display: flex;
	justify-content: space-around;
}
#annoncesListe h3, #annoncesListe h4{
	margin:10px 0;
}
/*------------------------------ CALENDAR */
#calendars {
	display:flex;

}
.dayBox{
	background-color:#e7e7e7;
	box-shadow:0 5px 5px rgba(0,0,0,0.5);
	padding:10px;
	margin:10px;
	max-width:200px;
}

.dayBox .meeting input[type="checkbox"]{display:none;}
.dayBox .meeting .infobloc input[type="checkbox"]{display:inline;}
.available{
	background-color:#fff;
}

.notAvailable{
	background-color:#ccd;
}
.particular{
	background-color:#edcc74;
}
.particular.available{
	background-color: #ffebba;
}
.clear{
	clear:both;
	text-align:center;
	margin:20px 0 5px 0;
	padding-top:5px;
	font-weight:bold;
	border-top:2px solid #0063A1;
}
.meeting{
	width:50px;
	height:50px;
	float:left;
	line-height:50px;
	text-align:center;
	cursor:pointer;
}

.meeting.selected{
	background-color:#d7f4ea;
}
.meeting.selected.notAvailable{
	background-color:#c97862;
}

.infobloc{
	background-color:#fff;
	border:3px solid #0063A1;
	box-shadow:0 5px 5px rgba(0,0,0,0.5);
	z-index:2;
	position:relative;
	width:0px;
	max-height:180px;
	left:50px;
	top:-50px;
	line-height:18px;
	text-align:left;
	padding:10px;
	display:none;
}

.meeting:hover .infobloc{
	display:block;
	animation-name:infobloc;
	animation-duration:0.2s;
	width:300px;
}
#calendars.student .meeting .infobloc *{
	opacity:0;
}
#calendars.student .meeting:hover .infobloc *{
	opacity:1;
	animation-name:infoblocP;
	animation-duration:0.2s;
}

#calendars.student .self{
	background-color:#d1dd7e;
}
#calendars.student .self.particular{
	background-color:#849122;
}
#calendars.student .infobloc{
	font-size:12px;
}
#calendars.student .infobloc p:first-child{
	font-weight:bold;
	margin-bottom:10px;
}
@keyframes infobloc{
	0%{	width:0;}
	100%{ width:180px; }
}
@keyframes infoblocP{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{opacity:1;}
}
/*-----------------------------TABLEAU ETUDIANTS */
.studentTable table{
	width:100%;
	border-collapse:collapse;
}
.studentTable table table td{
	border:0;
}
.studentTable table table td:last-child{
	text-align:right;
}
.studentTable button{
	margin-bottom:15px;
}

.studentTable td, th{
	border:#0063A1 1px solid;
	border-bottom:#005480 2px solid;
	padding:5px 15px;
}
.studentTable tr tr:not(:last-child){
	border-bottom:1px #aaa solid;
}
.studentTable tr tr td{
	width:30%;
	font-size:0.85em;
}
.studentTable tr tr td:first-child{
	width:60%;
}
.studentTable tr tr td:last-child{
	width:10%;
	font-size:0.7em;
}
.studentTable th{
padding:15px 15px;
color:#fff;
background: #0063A1; /* Old browsers */
background: -moz-linear-gradient(top, #0063A1 0%, #005480 86%, #0063A1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0063A1 0%,#005480 86%,#0063A1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0063A1 0%,#005480 86%,#0063A1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063A1', endColorstr='#0063A1',GradientType=0 ); /* IE6-9 */
}
.studentTable .status1 td.status, td.status1, .studentTable .status4 td.status, td.status4, .yellow{ /*yellow*/
	background-color:#fcf688;
}
.studentTable .status5 td.status, .studentTable .status6 td.status, td.status5, td.status6, .red{ /*orange*/
	background-color:#ff7e54;
}
.studentTable .status3 td.status, .green{ /*green*/
	background-color:#d1dd7e;
}
.studentTable .status7 td.status, td.status7{ /*grey*/
	background-color:#9c969e;
}
.studentTable .status2 td.status, td.status2{ /*lightblue*/
	background-color:#c5e5f9;
}

/*------------------- PAGE EXPORT */
.pageExport .formation h2:not(:first-child){
	display:none;
}
.pageExport table, .onlyPrint table{
	width:100%;
	border-collapse:collapse;
	margin-top:20px;

}
.pageExport td, #onlyPrint td{
	padding:5px;
}

.pageExport{
	display:none;
}
.onlyPrint img{
	max-width:150px;
}

.onlyPrint table{
	table-layout: fixed;
	width:100%;
	margin-top:0;
	page-break-inside:avoid;
	page-break-after:always;
	text-align:center;
}

.onlyPrint{
	font-size:10pt;
}
.onlyPrint tr.head td{
	border:none;
	text-align:center;
}
.onlyPrint .date{
	font-size:14pt;
	font-weight:bold;
}
.onlyPrint .small{

	max-width:7%;
	font-size:8pt;
}
.onlyPrint .medium{
	max-width:15%;
}
.onlyPrint .large{
	min-width:27%;

}
.onlyPrint .horaire{
	text-align:center;
}
.onlyPrint .jury td{
	text-align:left;
	padding-bottom:5cm;
}
.onlyPrint tr:last-child td{
	border:none;
	text-align:left;
	padding-top:2cm;
}
.pageExport, .onlyPrint{
	width:19cm;
	margin:0 auto;
}

.pageExport td, .onlyPrint td{
	height:1cm;
}

#tablecandidate form{
	display:inherit;
}
.studentTable td{
	padding:5px;
}


/*---------------------------ESCPACE ETUDIANTS ------ */
.liste_formation_student h4{
	padding:10px 0 20px 0;
	margin-top:30px;
	border-top:3px solid #0063A1;
}

.student a:not(.btn){
	font-weight:bold;
	color:#0063A1;

}
.student a:not(.btn):hover{
	color:#555;
}
.msgSent{
	background-color:#e7e7e7;
	padding:20px;
	margin:20px 0;
}

.contact img{
	vertical-align:top;
	max-width:50%;
	min-width:400px;
}
.contact div{
	display:inline-block;
	width:40%;
}
.contact{
	display:flex;
	justify-content:space-between;
}
.contact p{
	margin-top:10px;
}

#onlyPrint img{
	width:3cm;

}





@media only screen and (max-width: 600px){
	.global form select,.global form input:not([type="submit"]){
		width:90%;
		padding:5%;
		margin:2% 0;
	}
	button, .button{
		max-width:90%;
	}
	header nav{
		margin-top:0;
	}
	#logo_cfa{
		height:130%;
		width:auto;
		margin-top:0;
	}
	header nav>ul li:last-child, header nav>ul li a {
		font-size:1em;
		text-align:right;
	}
	header nav>ul>li:not(:first-child):after{
		margin-left:0;
	}

	.dayBox{
		margin:20px 0;
		max-width:100%;
		width:100%;
		box-shadow:none;
	}
	.meeting{
		clear:both;
		width:100%;
		text-align:left;
	}
	.meeting span:not(.hiddeOnMob), .meeting div{
		display:inline-block;
		border:none;

		text-align:center;
		box-shadow:none;
	}
	.meeting span:not(.hiddeOnMob){
		width:20%;

	}
	.infobloc{
		width:80%;
		padding:0;
	}

	#calendars.student .meeting .infobloc *{
		opacity:1;
		margin-top:0;
	}
	.hiddeOnMob{
		display:none;
	}
	.contact img, .contact div{
		width:100%;
		max-width:100%;
	}
}
